/* if i comment out this line alot of base styles go away! */
@tailwind base; 

@tailwind components;
@tailwind utilities;

.section {
  padding: 50px;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
h1 {
  font-size: 25px;
}
p {
  margin-bottom: 5px;
}
.flex-center-whole-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.flex-center-page {
  justify-content: center;
  align-items: center;
}
.full-background {
  height: 100%;
  width: 100%;
  perspective: 100px; 
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  animation: scroll 10s linear infinite; 
}
.full-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
@keyframes scroll {
  0% {
    transform: translateZ(-50px);
  }
  100% {
    transform: translateZ(-100px);
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* border: solid 1px white; */
  /* text-align: center; */
  /* font-family: 'Raleway', sans-serif; */
  color: whitesmoke;
  width: 600px;
}
.scrollable-content {
  /* border: solid 1px white; */
  height: 400px;
  max-height: 400px;
  overflow: auto;
}

.inline-block {
  display: inline;
}

.sidebar {
  height: 100vh;
  width: 200px;
  position: absolute;
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar p:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */ /* ! this breaks position: sticky in children lol */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .section {
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark; /*? what if browser isn't using dark theme? */
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
